numpy>=2.3.2
scipy>=1.16.1
matplotlib>=3.10.5
scikit-learn>=1.7.1
otter-grader>=6.1
jupyter>=1.1.1
requests>=2.32.5
beautifulsoup4>=4.13.4
pandas>=2.3.2
seaborn>=0.13.2
networkx>=3.5
aiohttp>=3.12.15
selenium>=4.35.0
pyarrow>=21.0.0
wikipedia==1.4.0
